<h1>Timen sheeten</h1>
<canvas id="pie" class="chart chart-pie"
        chart-data="getData()" chart-labels="getLabels()">
</canvas>
<!--
coisas do angular, ng-*, esperam receber uma expressão: f(), a+b==1
{{variável no escopo}} -->


<table class="table table-bordered timesheet" sticky>

    <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="{{resource.dates.length}}">
                <hateoas-a resource="resource" rel="previous">
                    <i class="glyphicon glyphicon-circle-arrow-left"></i>
                </hateoas-a>
                Date
                <!---
                <a href="{{resource.$href('next') | hateoasHref}}" ng-show="resource.$has('next')">
                    <i class="glyphicon glyphicon-circle-arrow-right"></i>
                </a>
                --->
                <hateoas-a resource="resource" rel="next">
                    <i class="glyphicon glyphicon-circle-arrow-right"></i>
                </hateoas-a>

                <span class="pull-right">
                    <hateoas-a resource="resource" rel="minus">
                        <i class="glyphicon glyphicon-minus-sign"></i>
                    </hateoas-a>
                    <hateoas-a resource="resource" rel="plus">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </hateoas-a>
                        <!-- a href="{{resource.$href('minus') | hateoasHref}}" ng-show="resource.$has('minus')">
                            <i class="glyphicon glyphicon-minus-sign"></i>
                        </a>
                    <a href="{{resource.$href('plus') | hateoasHref}}" ng-show="resource.$has('plus')">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </a -->
                </span>
            </th>
                    </tr>
        <tr>
            <th>
                 <search-box on-search="handleSearch()" searching="pfiltro" label="Project" modelo="projectName"></search-box>
            </th>
            <th>
                 <search-box searching="tfiltro" label="Task" modelo="taskName"></search-box>
            </th>
            <th ng-repeat="d in resource.dates"> {{d | date:"shortDate":"UTC" }} </th>
        </tr>
    </thead>
</table>

<table class="table table-bordered timesheet">
    <tbody ng-repeat="projectRow in resource.projectRows | filter: filterProjectRow"> <!-- quem armazena projectRow no novo escopo é o ng-repeat (do angular, para você!) -->
        <tr ng-repeat="taskRow in projectRow.taskRows | filter: filterTaskRow">
            <td rowspan="{{projectRow.taskRows.length}}" ng-show="$first">{{projectRow.project}}</td>
            <td>{{taskRow.task}}</td>
            <td ng-repeat="entryCell in taskRow.entryCells">
                 <input type="text" ng-model="entryCell.time" ui-number-mask="1" ng-keypress="saveEntry($event, projectRow, taskRow, entryCell)">
            </td>
        </tr>
    </tbody>
</table>